:root{
    --top-height: calc(100%/3);
    --bottom-height: calc(100% - (100%/3))
}
body{
    background-color: #B8c6dc;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}
.calculator{
    width: 70vmin;
    height: 75vmin;
    background-color: #30322e;
    border-radius: 20px;
    overflow: hidden;
}
.top-portion{
    height: var(--top-height);
    display: flex;
    justify-content: center;
    align-items: center;
}
.display{
    height: 60%;
    width: calc((5/6)*100%);
    background-color: #a3de60;
    border-radius: 18px;
    padding: 2%;
    line-height: 15vmin;
    font-size: 8vmin;
}
.bottom-portion{
    height: var(--bottom-height);
    display: flex;
    flex-direction: column;
    background-color: #616161;
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: calc(100%/5);
}
.row span{
    height: 75%;
    line-height: 7vmin;
    text-align: center;
    font-size: 5vmin;
}
.row span:not(.operator-button, .clear-button, .equal-button, .backspace-button){
    background-color: #e0e0e0;
}
.row span:is(.operator-button, .equal-button){
    background-color: grey;
}
.row span:is(.clear-button, .backspace-button){
    background-color: rgb(202, 39, 39);
}
.row span:not(.equal-button){
    border-radius: 8%;
    width: calc(60%/4);
}
.equal-button{
    flex-grow: 0.55;
    border-radius: 8px;
}
.row span:hover{
    opacity: 0.5;
}